.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
}
.form .container {
	position: relative;
}
.book__media {
	display: none;
	width: 100%;
	object-fit: cover;
}
.bg__big {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -2;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.book {
	position: absolute;
	width: 100%;
	object-fit: cover;
	z-index: -1;
	bottom: -14rem;
	right: -20rem;
}
.form__content {
	z-index: 99999;
	border-radius: 0.56rem;
	box-shadow: 0rem 0rem 1.25rem 0rem rgba(0, 0, 0, 0.11);
	background: rgb(255, 255, 255);
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	width: fit-content;
	gap: 37px;
	padding: 60px 10px;
}
.form__content-title {
	color: rgb(0, 0, 0);
	font-size: clamp(1rem, 2.5vw, 2.13rem);
	font-weight: 600;
	line-height: 2.56rem;
	text-align: center;
}
.form__content-desc {
	color: rgb(0, 0, 0);
	font-size: clamp(1rem, 2.5vw, 1.13rem);
	font-weight: 400;
	line-height: 120%;
	text-align: center;
}
.form__content-inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.form__content-inputs label {
	display: flex;
	align-items: center;
	gap: 1rem;
}
.form__content-inputs label input {
	box-sizing: border-box;
	border: 0.06rem solid rgb(231, 231, 231);
	border-radius: 3.81rem;
	background: rgb(242, 242, 242);
	padding: 20px 153px 20px 53px;
	color: #000;
	font-size: clamp(1rem, 2.5vw, 1.13rem);
	font-weight: 400;
	line-height: 1.31rem;
	text-align: left;
	width: 100%;
}
.form__content-inputs label input::placeholder {
	color: rgb(197, 197, 197);
}
.form__content-inputs label span {
	display: flex;
	align-items: center;
}
.checkbox {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.checkbox p {
	font-size: clamp(1rem, 2.5vw, 1.10rem);
	display: flex;
	flex-wrap: wrap;
}
