.certificate {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.certificate__wrapper {
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;
	position: relative;
}
.certificate__img {
	max-width: 15.13rem;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.certificate__decor {
	max-width: 18.91rem;
	object-fit: cover;
	position: absolute;
}
.top {
	top: -12.5rem;
	right: -10rem;
}
.bottom {
	max-width: 10.11rem;
	bottom: -4rem;
	left: -6.4rem;
}
